:root {
  box-sizing: border-box;
  --whiteColor: rgb(230, 230, 230);
  --whiteColor-dark: #d6d6d6;
  --backgroundColor: rgb(30, 30, 30);
  --foregroundColor: rgb(50, 50, 51);
}

body {
  padding: 2rem;
  margin: 0;
  background-color: var(--backgroundColor);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
